requests>=2.31.0
tls-client
selenium>=4.15.0
webdriver-manager>=4.0.0
undetected-chromedriver>=3.5.0
playwright
colorama
Pillow>=10.0.0
websocket-client
uuid
pyperclip
tqdm>=4.66.0
python-dotenv
fake-useragent
beautifulsoup4>=4.12.0
lxml>=4.9.0
discord.py
discord-webhook